# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Saeed Shahsavan"
email: "s.shahsavan@gmail.com"
description: >- # this means to ignore newlines until "baseurl:"
  Software Architect specializing in distributed systems, search engines,
  event-driven platforms, and high-performance backend engineering with Go and Java.
  Designing scalable enterprise systems with clarity and technical rigor.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://saeedshahsavan.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: Saeed_Shahsavan
github_username:  shahsavan
linkedin_username: saeed-shahsavan

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# --- Markdown engine ---
markdown: kramdown
kramdown:
  input: GFM

# --- SEO & Metadata ---
timezone: "Europe/Vienna"
lang: "en"

# --- Permalinks (clean URLs) ---
permalink: /:categories/:title/

# --- Build settings ---
paginate: 10        # Number of posts per page (if using blog)
paginate_path: "/page:num/"

# --- Collections (extend later if needed) ---
collections:
  projects:
    output: true
    permalink: /projects/:name/

# --- Defaults (auto apply to pages & posts) ---
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Saeed Shahsavan"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

# --- Exclusions (clean build) ---
exclude:
  - README.md
  - node_modules/
  - vendor/
  - Gemfile
  - Gemfile.lock
  - package.json
  - yarn.lock
  - .sass-cache/
  - .jekyll-cache/

# --- Include additional directories ---
include:
  - ".htaccess"
